.container{
    display: flex;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: white;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 2.5vw;
    

}

.titleContainer{
    margin-bottom: 10px;
}

h2.headline{
    font-size: 32px;
    text-size-adjust:100%;
    text-align: left;
    color: var(--space-cadet);
}

p.reportBody{
    font-size: 16px;
    line-height: 22px;
    font-stretch: 100%;
    text-align: left;
    color: var(--space-cadet);
}